.navbar{
    display: flex;
    justify-content: space-around;
}
.navbarLogo{
    display: flex;
    
    align-items: center;
}
.navbarLogo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.navbarLogo span{
    font-size: 40px;
    font-weight: 500;
}
.menu{
    display: flex;
    justify-content: space-between;
    font-family: Poppins;
    width: 50%;
}